@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--paragraph);
}

:root {
    --red: #A70000;
    --blue: #006BA7;
    --grey:#E3E3E3;
    --darkGrey: #979595;
    --title: 'Jomolhari', serif;
    --paragraph: 'Inter', sans-serif;
}

body {
    display: flex;
}

h1 {
    font-family: var(--title);
}

/* LATERAL MENU */
nav {
    background-color: var(--grey);
    width: 15vw;
    height: 88vh;
    margin: 2rem 1rem;
}

nav header {
    display: flex;
    padding: 1rem;
}

nav header input {
    width: 9rem;
    height: 2rem;
    margin-right: 6px;
    padding: 0.5rem;
}

nav header button {
    height: 2rem;
    width: 2.2rem;
    padding-left: 7px;
    background-color: var(--darkGrey);
    border: none;
}

nav header button:hover {
    cursor: pointer;
    background-color: var(--red);
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

nav ul li {
    margin: 0.5rem 0;
    padding:  1rem 1rem;
}

nav ul li:hover {
    color: white;
    cursor: pointer;
    background-color: var(--blue);
}

nav ul li:last-child {
    flex-direction: row;
    margin-top: 23rem;
    padding:  1rem;
    border-top: 1px solid black;
}

nav ul li:last-child:hover {
    cursor: pointer;
    border: none;
    background-color: var(--red);
}

nav ul li a {
    text-decoration: none;
    color:  black;
}

img {
    height: 20px;
    width: auto;
    margin-right: 1rem;
}

/* MAIN CONTENT */

main {
    background-color: var(--grey);
    margin:0px;
    width: 80vw;
    height: 88vh;
    margin: 2rem 1rem;
    padding: 1rem;
}

