@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--paragraph);
}

:root {
    --red: #A70000;
    --blue: #006BA7;
    --grey:#E3E3E3;
    --darkGrey: #979595;
    --title: 'Jomolhari', serif;
    --paragraph: 'Inter', sans-serif;
}

body {
    display: flex;
}

h1 {
    font-family: var(--title);
}

/* LATERAL MENU */
nav {
    background-color: var(--grey);
    width: 15vw;
    height: 88vh;
    margin: 2rem 1rem;
}

nav header {
    display: flex;
    padding: 1rem;
}

nav header input {
    width: 9rem;
    height: 2rem;
    margin-right: 6px;
    padding: 0.5rem;
}

nav header button {
    height: 2rem;
    width: 2.2rem;
    padding-left: 7px;
    background-color: var(--darkGrey);
    border: none;
}

nav header button:hover {
    cursor: pointer;
    background-color: var(--red);
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

nav ul li {
    margin: 0.5rem 0;
    padding:  1rem 1rem;
}

nav ul li:hover {
    color: white;
    font-style: italic;
    cursor: pointer;
    background-color: var(--blue);
}

nav ul li:last-child {
    flex-direction: row;
    margin-top: 23rem;
    padding:  1rem;
    border-top: 1px solid black;
}

nav ul li:last-child:hover {
    cursor: pointer;
    border: none;
    background-color: var(--red);
}

nav ul li a {
    text-decoration: none;
    color:  black;
}

img {
    height: 20px;
    width: auto;
    margin-right: 1rem;
}

/* MAIN CONTENT */

main {
    background: var(--grey);
    margin:0px;
    width: 80vw;
    height: 88vh;
    margin: 2rem 1rem;
    overflow: hidden;
}

#description {
    background: linear-gradient(to right, var(--grey),transparent);
    width: 80vw;
    height: 88vh;
    display: none;
    animation: softhidden 1.5s normal ease-in-out;
}

#description h1 {
    font-family: var(--title);
}

#description p {
font-family: var(--paragraph);
}

#description div {
    padding: 1rem;
    width: 35vw;
    display: none;
}

/* HOME */

#home {
    display: block;
    border: black 1px solid;
    margin: 30px;
    padding: 2rem;
    height: 80vh;
}

#home h1 {
    font-family: var(--title);
    font-size: 2.5rem;
    margin-left: 35%;
    margin-bottom: 1rem;
}

#home img {
    width: 25vw;
    height: auto;
    margin-left: 30%;
}

/* RESPONSIVIDADE */

@keyframes softhidden {
    0% {
        /* left: -100vw; */
        transform: translateX(-100vw);
    } 50% {
        transform: translateX(-50vw);
    } 100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 480px ) {
    body {
        display: block;
        width: 100vw;
        height: 100vh;
    }
    nav {
        width: 100vw;
        height: 10vh;
        margin: 0;
    }

    nav header {
        margin-top: 1rem;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        background-color: var(--grey);

    }
    
    nav ul li {
        margin: 0 0;
        padding:  1rem 1rem;
    }

    nav ul li:last-child {
        flex-direction:unset;
        margin-top: 0;
    }

    main {
        width: 100vw;
        height: 100vh;
        margin: 5.15rem 0;
    }

    #description div {
        background: var(--grey);
        padding: 1rem;
        width: 100vw;
        height: auto;
        display: none;
    }

    #home {
        margin: 0;
        padding: 1rem;
        height: 100vh;
    }
    
    #home h1 {
        font-size: 2.3rem;
        line-height: 3rem;
        margin-left: 20%;
        margin-bottom: 3rem;
    }
    
    #home img {
        width: 68vw;
        height: auto;
        margin-left: 10%;
    }
}

